<div class="container mt-4">
    <div class="d-flex justify-content-between">
        <h5>Existing Designations</h5>
        <button type="button" class="btn btn-primary" matButton="filled"
            *ngIf="permissionService.hasPermission('designation.create')" [routerLink]="'create'"><i
                class="bi bi-plus"></i>Create Designation</button>
    </div>
    <div class="d-flex w-50 justify-content-between mt-2">
        <input type=" text" #searchBox placeholder="Search" class="form-control" (input)="searchInput(searchBox.value)"
            style="margin-right:5px" />
        <select [(ngModel)]="sort" (change)="onSortChange()" class="form-control">
            <option value="" selected>Sory By</option>
            <option value="-createdAt">Newest</option>

            <option value="createdAt">Oldest</option>

            <option value="name">Name A-Z</option>

            <option value="-name">Name Z-A</option>

        </select>
    </div>
</div>
<div class="table-responsive" style="min-height: 250px;">
    <table class="table table-bordered shadow-sm border bg-white p-3 mb-3 mt-2"
        style="margin-left: 10px;margin-right: 10px;width: 98%;">

        <tbody>

            <tr *ngFor="let designation of designations()">
                <td style="display: flex; justify-content: space-between; align-items: center;">
                    <span>{{designation.name}}</span>
                    <div class="ms-auto d-flex justify-content-between" style="width:70px">
                        <button (click)="editDesignation(designation._id)" mat-icon-button>
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button (click)="deleteDesignation(designation._id)" mat-icon-button>
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>
</div>
<div>
    <button (click)="previousPage()" [disabled]="page==1">
        Prev

    </button>

    <span>

        Page {{page}} of {{totalPages}}

    </span>

    <button (click)="nextPage()" [disabled]="page==totalPages">

        Next

    </button>
</div>